.header {
    height: 0.45rem;
    text-align: center;
    margin-top: 0.2rem;
}

.icon-left {
    position: absolute;
    left: 0.2rem;
}

.icon-message {
    position: absolute;
    right: 0.2rem;
}

.store-sort-time div {
    display: inline-block;
    margin-top: 0.24rem;
    height: 0.58rem;
    color: #666;
}

.store-sort-time div:nth-child(1) {
    margin-left: 0.2rem;
    border-bottom: 0.01rem solid #fd0002;
}

.store-sort-time div:nth-child(2) {
    width: 60%;
    text-align: center;
}

.store-sort-time div:nth-child(3) {
    margin-right: 0.2rem;
}

.title {
    font-size: 0.32rem;
    margin-top: 0.28rem;
    padding-left: 0.2rem;
}

.title img {
    width: 0.3rem;
    margin-left: 0.2rem;
    /* margin-top: 0.2rem; */
    position: relative;
    top: 0.05rem;
}

.commodity-content {
    height: 2.1rem;
    margin-top: 0.18rem;
}

.img-box {
    width: 30%;
}

.img-box img {
    width: 1.8rem;
}

.info-box {
    width: 70%;
}

.cr {
    color: #fd0002;
}

.c6 {
    color: #666;
    font-size: 0.16rem;
}
.sp-price{
    height: 0.25rem;
    margin-top: 0.2rem;
}
.sp-price span:nth-child(1) {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sp-price span:nth-child(2) {
    width: 20%;
    text-align: right;
    margin-right: 0.2rem;
}
.tibs{
    clear: both;
    font-size: 0.2rem;
    margin-top: 0.2rem;
}
.tibs span{
    width: 0.76rem;
    height: 0.23rem;
    line-height: 0.23rem;
    border-radius: 0.2rem;
    text-align: center;
    color: #4391f6;
    background-color: #c8e1ff;
    margin-right: 0.12rem;
}
.btn{
    margin-top: 0.3rem;
}
.btn span{
   border: 0.01rem solid #666;
   padding:  0 0.2rem;
   text-align: center;
   border-radius: 0.24rem;
   font-size: 0.22rem;
   margin-top: 0.2rem;
}
.btn span:nth-child(1){
    margin-left: 0.2rem;
}
.btn span:nth-child(2){
    margin-left: 0.15rem;
}
.btn span:nth-child(3){
    margin-left: 0.3rem;
}
.btn span:nth-child(3) img{
    width: 0.2rem;
}
.nav-bar-bottom {
    width: 100%;
    height: 0.78rem;
    position: fixed;
    bottom: 0;
}

.nav-bar-bottom ul li {
    width: 33%;
    height: 0.78rem;
    float: left;
    text-align: center;
    line-height: 0.78rem;
    background-color: #dbdfde;
    border-right: 0.01rem solid #000;
}

.active {
    background-color: #fff !important;
    border-right: none !important;
}