body,html{
	font-size: 0.28rem;
}
#header {
	width: 100%;
	height: 1rem;
	line-height: 1rem;
}

.back {
	width: 0.2rem;
	height: 0.36rem;
    position: absolute;
    left: 0.3rem;
    top: 0.28rem;
}

.center {
	text-align: center;
	font-size: 0.3rem;
	font-weight: 600;
	display: block;
}

.bianji {
	position: absolute;
	font-size: 0.26rem;
	right: 0.3rem;
	top: -0.01rem;
}
.btn-box {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #dbdfde;
}

.btn-box ul li {
    width: 33%;
    height: 0.82rem;
    line-height: 0.82rem;
    text-align: center;
    float: left;
    border-right: 0.02rem solid #000;
        font-size: 0.34rem;
    letter-spacing: 0.05rem;
}

.active {
    border-right: none !important;
    background-color: #fff;
}
