/*头部*/

.header {
	width: 100%;
	height: 0.9rem;
	line-height: 0.9rem;
	text-align: center;
	display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.header img {
	width: 0.26rem;
	height: 0.48rem;
	margin-left: 0.28rem;
	position: absolute;
	top: 29%;
}

.header span {
	font-size: 0.34rem;
	color: #5e5e5e;
	margin: 0 auto;
}
.container{
	border-top: 2px solid #e8e8e8;
}
.aside{
	margin-left: 0.24rem;
	height: 1.04rem;
	line-height: 1.04rem;
}
.aside span{
	display: inline-block;
	
}
.btn-b-ceb{
	border-bottom: 1px solid #ebebeb;
}
.f24{
	font-size: 0.24rem !important;
}
.c6{
	color: #666666;
}
.c0{
	color: #000000;
}
.cf0{
	color: #F30502;
}
.aside span:nth-child(1){
	width: 1.6rem;
}
.aside span:nth-child(2){
	font-size: 0.3rem;
}
.aside span:nth-child(3){
	margin-right: 0.2rem;
}
.aside img{
	width: 0.3rem;
	height: 0.2rem;
	margin-right: 0.2rem;
    margin-top: 0.4rem;
}
.tkje{
	margin-top: 0.3rem;
}
.sq-box{
	height: 4rem;
	margin-left: 0.2rem;
}
.sq-box textarea{
	width: 100%;
	height: 1.73rem;
	font-size: 0.3rem;
    border: none;
}
.sc-img{
	width: 1.58rem;
	height: 1.58rem;
	border: 1px dashed #666666;
	text-align: center;
}
.sc-img img{
	width: 0.58rem;
	height: 0.51rem;
	margin-top: 0.34rem;
}
.sc-img span{
	display: block;
	margin-top: 0.1rem;
}
.qjdz{
	margin-left: 0.2rem;
	position: relative;
}
.gh{
	padding: 0.07rem 0.16rem;
	border: 1px solid #fe2829;
	color: #FF0000;
	font-size: 0.2rem;
	border-radius: 0.2rem;
	position: absolute;
	right: 0.8rem;
}
.btn-tjsq{

    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    }
    
.btn-tjsq button{
	width: 6.9rem;
	height: 0.9rem;
	line-height: 0.9rem;
	text-align: center;
	font-size: 0.4rem;
	color: #fff;
	background-color: #FF0000;
	border-radius: 0.2rem;

}
